/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 09-sep-2018, 15:03:45
    Author     : jhon
*/

.root{
     
    -fx-background-image: url("/Imagenes/Fondo.jpg");
     
}
.rootSalirFinal{
   -fx-background-image: url("/Imagenes/Fondo.jpg");
}
.button {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
    
}
.label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-font-weight: bold;
   
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}